.header_block {
    width: 100%;
    height: 773px;
    background: #000000;
}

.header {
    width: 70%;
    max-height: 32px;
    font-family: 'Poppins';
    font-style: normal;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    background: #000000;
    color: #FFFFFF;
    padding-top: 30px;
    padding-bottom: 32px;
}

.logo {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 32px;
}

.header_menu {
    display: flex;
    justify-content: space-between;
    width: 30%;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
}

.h1 {
    display: flex;
    width: 90%;
    margin: 0 3%;
    justify-content: flex-end;

}

.h1_left {
    font-family: 'Poppins';
    font-style: normal;
    display: flex;
    flex-direction: column;
    width: 37%;
    justify-content: flex-end;
    margin-right: 5%;
    margin-bottom: 15%;
}

.h1_left>div:first-child {
    font-weight: 600;
    font-size: 64px;
    line-height: 72px;
    color: #FFFFFF;
}

.h1_left>div:first-child>span {
    color: #FFBB00;
}

.h1_left>div:nth-child(2) {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #B2B2B2;
    margin-top: 32px;
    margin-bottom: 32px;
}

.h1_left>div:nth-child(3) {
    width: 220px;
    height: 60px;
    background: #F6AD09;
    border-radius: 5px;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #332200;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h1_right>img {
    width: 100%;
}

.h2_block {
    margin-top: 144px;
}

.h2_block>div:first-child {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 72px;
    color: #111111;
    padding-left: 14%;
}

.h2_block>div:first-child>span {
    color: #FFBB00;
}

.h2_block_cards {
    width: 92%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    color: #111111;
    margin-top: 24px;
}

.bullet {
    padding: 5px;
}

.price {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #595959;
    display: flex;
    position: relative;
    right: -9%;
    bottom: -1%;
}

.h3_block {
    background: #000000;
    height: 947px;
    margin-top: 193px;
}

.h3 {
    width: 96%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.h3_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35%;
    margin-right: 4%;
}

.h3_left>div:first-child {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.015em;
    text-transform: uppercase;
    color: #B2B2B2;
    margin-bottom: 19px;
}

.h3_left>div:nth-child(2) {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 72px;
    color: #FFFFFF;
    margin-bottom: 43px;
}

.h3_left>div:nth-child(2)>span {
    color: #FFBB00;
}

.h3_left>div:nth-child(3) {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #B2B2B2;
    margin-bottom: 28px;
}

.h3_left>div:nth-child(4) {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #FFBB00;
}

.h3_left>div:nth-child(5) {
    border-bottom: solid #FFBB00;
    width: 268px;
    margin-bottom: 62px;
}

.h3_left>div:nth-child(6) {
    display: flex;
    justify-content: space-between;
}

.h3_left>div:nth-child(6)>div:first-child {
    padding-right: 4%;
}

.h3_left>div:nth-child(6)>div:first-child>div:first-child {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.h3_left>div:nth-child(6)>div:first-child>div:last-child {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #B2B2B2;
}

.h3_left>div:nth-child(6)>div:last-child>div:first-child {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.h3_left>div:nth-child(6)>div:last-child>div:last-child {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #B2B2B2;
}

.h3_right>img {
    position: relative;
    top: -9%;
}

.h4_block {
    margin-top: 144px;

}

.h4_block>div:first-child {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 72px;
    color: #111111;
    padding-left: 14%;
    margin-bottom: 43px;
}

.h4_block>div:first-child>span {
    color: #FFBB00;
}

.brands {
    background: #FFFFFF;
    border: 2px solid #E0E0E0;
    width: 349px;
    height: 135px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5%;
}

.h4_block_brands {
    display: flex;
    width: 92%;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
}

.h5_block {
    margin-top: 108px;
    display: flex;
    width: 100%;
    height: 680px;
}

.h5_block>div:last-child {
    background: #FFBB00;
    position: relative;
}

.h5_block>div:last-child>div:first-child {
    font-family: 'Merriweather';
    font-style: italic;
    font-weight: 900;
    font-size: 36px;
    line-height: 48px;
    color: #332200;
    padding: 303px 21% 0 74px;
    box-sizing: border-box;
}

.h5_block>div:last-child>div:last-child {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #664400;
    padding-top: 17px;
    padding-left: 74px;
    padding-bottom: 88px;
    box-sizing: border-box;
}

#quote_1 {
    position: absolute;
    top: 43%;
    left: 4%;
}

#quote_2 {
    position: absolute;
    bottom: 11%;
}

.h5_block {
    margin-top: 108px;
    display: flex;
    width: 100%;
    height: 680px;
}

.h6_block {
    width: 100%;
    background: #161616;
    padding-bottom: 100px;
}

.h6_block>div:first-child {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 72px;
    color: #FFFFFF;
    padding-left: 14%;
    padding-top: 73px;
}

.h6_block>div:first-child>span {
    color: #FFBB00;
}

.h6_cards {
    width: 70%;
    display: flex;
    margin: 0 auto;
    justify-content: space-evenly;
    margin-top: 36px;
    align-items: center;
}

.h6_card_1 {
    width: 35%;
    height: 35%;
    background: #000000;
    border-radius: 7px;
    display: flex;
    color: #FFFFFF;
    justify-content: space-between;
    padding: 30px;
}

.h6_card_1>div:first-child {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
}

.h6_card_1>div:first-child img {
    width: 6%;
    padding: 2% 0;
}

.h6_card_1>div:first-child div {
    margin-bottom: 18px;
}

.h6_card_1>div:first-child>div:first-child {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 48px;
    color: #9C9C9C;
    margin-bottom: 28px;
    margin-left: 15px;
}

.button {
    width: 177px;
    height: 53px;
    background: #2E2E2E;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #CCCCCC;
    margin-top: 41px;
    margin-bottom: 28px;
    margin-left: 15px;
}

.h6_card_1>div:last-child>div:first-child {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 48px;
    color: #FFFFFF;

}

.h6_card_1>div:last-child>:last-child {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #9C9C9C;
    text-align: right;
}

.h6_card_2 {
    width: 35%;
    height: 35%;
    background: #000000;
    border-radius: 7px;
    display: flex;
    color: #FFFFFF;
    justify-content: space-between;
    padding: 30px;
}


.h6_card_2>div:first-child {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
}

.h6_card_2>div:first-child img {
    width: 6%;
    padding: 2% 0;
}

.h6_card_2>div:first-child div {
    margin-bottom: 18px;
}

.h6_card_2>div:first-child>div:first-child {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 48px;
    color: #9C9C9C;
    margin-bottom: 28px;
    margin-left: 15px;
    color: #FFBB00;
}

.h6_card_2>div:last-child>div:first-child {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 48px;
    color: #FFFFFF;
}

.h6_card_2>div:last-child>:last-child {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #9C9C9C;
    text-align: right;
}

.footer {
    width: 100%;
    background: #000000;
    color: #FFFFFF;
    display: flex;
    justify-content: flex-start;

}

.footer>.logo {
    width: 34%;
    padding-left: 14%;
    padding-top: 56px;
    box-sizing: border-box;
}

.contacts {
    width: 30%;
    padding-top: 66px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.015em;
    color: #B2B2B2;
}

.contacts>div:first-child {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.015em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.info {
    width: 30%;
    height: 20%;
    padding-top: 66px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.015em;
    color: #B2B2B2;
}

.info > div:hover {
    color: #FFBB00;
}

.info>div:first-child {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.015em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.social {
    margin-bottom: 66px;
}

.social>img {
    padding-right: 32px;
}

.footer_rights {
    width: 100%;
    background: #000000;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.015em;
    color: #9C9C9C;
    padding-left: 14%;
    padding-bottom: 46px;
    box-sizing: border-box;
}