body {
    background: #E5E5E5;
}

.block {
    min-width: 700px;
    max-width: 1000px;
    margin: 0 auto;
    background-color: #F9F9F9;
    padding: 40px;
    padding-bottom: 110px;
    box-sizing: border-box;
}

h1 {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #171717;
    padding-top: 40px;
    padding-bottom: 40px;
}


.h1>div:nth-child(2) {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #171717;
}

.red_star {
    color: #D83933;
}

h2 {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #171717;
}

div.section {
    padding-top: 40px;
}

.info {
    display: flex;
    justify-content: space-between;
}

label {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #171717;
    display: block;
    margin-top: 21px;

}

#phone {
    display: block;
    border: 1px solid #ADADAD;
    border-radius: 4px;
    background: #FFFFFF;
    width: 392px;
    height: 40px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #171717;
    margin-top: 8px;
}


input[type="date"] {
    display: block;
    border: 1px solid #ADADAD;
    border-radius: 4px;
    background: #FFFFFF;
    width: 392px;
    height: 40px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #171717;
    margin-top: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-image: url("../img/calendar-line.svg");
    background-repeat: no-repeat;
    background-position: right;
}

#email {
    display: block;
    border: 1px solid #ADADAD;
    border-radius: 4px;
    background: #FFFFFF;
    width: 392px;
    height: 40px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #171717;
    margin-top: 8px;
}

input[type="number"] {
    display: block;
    border: 1px solid #ADADAD;
    border-radius: 4px;
    background: #FFFFFF;
    width: 392px;
    height: 40px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #171717;
    margin-top: 8px;
}

.checkbox {
    display: inline-block;
    width: 80%;
}

select {
    display: block;
    border: 1px solid #ADADAD;
    border-radius: 4px;
    background: #FFFFFF;
    width: 392px;
    height: 40px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #171717;
    margin-top: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.submission_date {
    margin-bottom: 36%;
}

.line {
    width: 100%;
    border-bottom: 1px solid #D1D1D1;
    padding-bottom: 40px;
}

.maternity_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.use_block {
    display: flex;
    justify-content: space-between;
}

input[type="search"] {
    display: block;
    border: 1px solid #ADADAD;
    border-radius: 4px;
    background: #FFFFFF;
    width: 392px;
    height: 40px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #171717;
    margin-top: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-image: url("../img/search-line.svg");
    background-repeat: no-repeat;
    background-position: right;
}

.system_block {
    display: flex;
    justify-content: space-between;

}

.button {
    display: flex;
    justify-content: right;
    padding-top: 16px;
}

.next {
    background: #0050D8;
    border-radius: 4px;
    width: 69px;
    height: 40px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
}