.h1 {
    padding: 72px 0 33px 0;
    font-size: 40px;
    font-family: Inika;
    font-weight: 700;
    text-align: left;
    line-height: 157.3%;
}
.h2 {
    font-size: 40px;
    font-family: Inika;
    font-weight: 700;
    margin-top: 74px;
    text-align: center;
    line-height: 157.3%;
}
.h3 {
    font-size: 48px;
    font-family: 'M PLUS 1';
    font-weight: 700;
    text-align: center;
    color: #3E45E8;
    line-height: 70px;
    letter-spacing: 0.1em;
}
.body {
    background-color: #E5E5E5;
}
.line {
    border-bottom: 5px solid #3E45E8;
    width: 402px;
}
.line_ukraine {
    margin: auto;
}
.header {
    height: 110px;
    text-align: center;
    color: #3E45E8;
    font-size: 48px;
    font-weight: 400;
    font-family: 'M PLUS 1';
    line-height: 70px;
    letter-spacing: 0.1em;
    padding-top: 33px;
    box-sizing: border-box;
}
.header-span {
    color: #E8C23E;
}
.banner {
    box-sizing: border-box;
    background-image: url("../img/Kamianets.png");
    height: 803px;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 206px;
    padding-left: 80px;
}
.content {
    box-sizing: border-box;
    height: 272px;
    width: 70%;
    background-image: url("../img/flag.png");
    background-repeat: no-repeat;
    font-size: 48px;
    font-family: Inika;
    font-weight: 700;
    color: #FFFFFF;
    padding-left: 38px;
    line-height: 157.3%;
}
.main {
    padding: 0 80px;
    font-family: Inika;
}
.card {
    width: 30%;
    margin: 14px;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    border-radius: 8%;
    height: 481px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, .25);
}
.card_image {
    width: 100%;
}
.card_margin {
    margin: 1%;
}
.card_title {
    font-size: 24px;
    font-weight: 700;
    color: #1E8DF2;
    padding: 10px;
    box-sizing: border-box;
}
.card_subtitle {
    font-size: 20px;
    font-weight: 400;
    color: #E8C23E;
    padding: 10px;
    box-sizing: border-box;
}
.img_ukraine {
    display: block;
    margin: auto;
    padding: 41px 0;
}
.button {
    font-size: 64px;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #2A61F0;
    width: 591px;
    text-align: center;
    display: block;
    margin: auto;
    text-decoration: none;
    padding: 10px 0;
}
.footer {
    height: 320px;
    background-color: #2F4A4B;
    margin-top: 21px;
}
.footer-span {
    color: #DFE31E;
}
.footer-link {
    font-family: 'Marcellus SC';
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 0.1em;
    color: #A89D9D;
    text-align: center;
    display: block;
    text-decoration: none;
    line-height: 45px;
    padding-top: 21px;
    box-sizing: border-box;
}
.social_links {
    display: flex;
    justify-content: center;
    padding-top: 26px;
    box-sizing: border-box;
}