body {
    margin: 0;
    background: #E5E5E5;
}

section {
    margin: 20px;
}

.container {
    display: grid;
    width: 100%;
    background: #FFB084;
    border-radius: 20px;
    padding: 27px;
    box-sizing: border-box;
    font-family: 'Work Sans';
    grid-template-columns: 40% 30% 30%;
    gap: 15px;
}

.container>div {
    background: #FFFFFF;
    box-shadow: 7px 7px 0px #000000;
    border-radius: 20px;
    padding: 15px 25px;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.container ul {
    padding-left: 25px;
    box-sizing: border-box;
}

h1 {
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    line-height: 28px;
}

h2 {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
}

.container>div:first-child span {
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
}

.container>div:first-child>img {
    display: block;
    margin: 0 auto;
}

.info {
    grid-row: 1/4;
}

.bio {
    grid-column-start: 2;
    grid-column-end: 4;
}

div.goals {
    box-shadow: 7px 7px 0px #29A71E;
    border-radius: 20px;
}

.goals>h2 {
    color: #29A71E;
}

div.frustrations {
    grid-column: 3;
    grid-row: 2/4;
    box-shadow: 7px 7px 0px #E13535;
    border-radius: 20px;
}

.frustrations>h2 {
    color: #E13535;
}

div.quote {
    grid-column: 1;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
}

.dream-companies {
    grid-row: 3/5;
}