body {
    font-family: 'PT Sans';
    background: #FBE4FF;
}

.logo {
    width: 140px;
}

.h2 {
    background-color: #BFF0FF;
    height: 85px;
    font-weight: 400;
    font-size: 44px;
    font-style: italic;
    color: #202846;
    display: flex;
    align-items: center;
    padding-left: 15%;
}

.h3 {
    background: linear-gradient(90deg, #FFE601 0%, #55D6FF 100%);
    color: #243B93;
}

.h4 {
    background: linear-gradient(90deg, #54D6FF 0%, #FFE600 100%);
    color: #243B93;
}

.header {
    background: #243B93;
    height: 65px;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.16em;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: sticky;
    top: 0;
    z-index: 3;
}

.menu {
    min-width: 47%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0%;
    margin-left: 10%;
}

.menu a {
    color: #FFFFFF;
    text-decoration: none;
}

.menu ul {
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
}

ul>li {
    list-style: none;
}

.menu li:last-child {
    display: flex;
    text-align: center;
}

.lang {
    font-size: 28px;
    margin-left: 1%;
}

.choose {
    max-width: 70%;
    background-color: #FFFFFF;
    height: 57px;
    font-weight: 400;
    font-size: 28px;
    color: #00000061;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15%;
    margin-top: 27px;
}

.choose svg {
    position: absolute;
    right: 16%;
}

.cards {
    margin-top: 30px;
}

.card {
    max-width: 70%;
    height: 300px;
    background: linear-gradient(92.95deg, #ADCBD5 0%, #00AEE6 100%);
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    margin-bottom: 42px;
}

.card img {
    width: 447px;
    padding-left: 52px;
    padding-top: 33px;
}

.text {
    margin-left: 30px;
    position: relative;
}

.title {
    font-weight: 700;
    font-size: 36px;
    font-style: italic;
    color: #353C57;
    margin-top: 14px;
}

.line {
    width: 90%;
    border-bottom: solid 3px #FFFFFF;
}

.describtion {
    background-color: #EDFBFF;
    font-weight: 400;
    font-size: 22px;
    color: #202846;
    height: 205px;
    width: 90%;
    padding: 10px;
    margin-top: 10px;
    box-sizing: border-box;
}

.button {
    width: 210px;
    height: 46px;
    background-color: #243B93;
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
    border-radius: 30px;
    text-align: center;
    position: absolute;
    padding-top: 8px;
    box-sizing: border-box;
    right: -5%;
    top: 89%;
}

.star {
    width: 48px;
    position: absolute;
    fill: #FFFFFF;
    right: 2%;
    top: 2%;
}

.card:hover .star {
    fill: #FFF500;
}

.card:hover .button {
    background-color: #EF075B;
}

.card:hover {
    background: #2CBDEB;
    box-shadow: 0px 0px 60px 4px #2CBDEB;
}

.top {
    width: 101px;
    height: 101px;
    background-color: rgba(48, 12, 106, 0.3);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 90%;
    right: 11%;
}

.top:hover {
    background-color: rgba(48, 12, 106, 0.544);
}

.cabinet {
    max-width: 70%;
    height: 498px;
    background: linear-gradient(180deg, #859EFF 0%, rgba(105, 255, 210, 0.5) 100%);
    margin: 0 auto;
    display: flex;
    margin-top: 36px;
}

.cabinet_left {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 71px 0;
}

.cabinet_left img {
    width: 196px;
}

.btn {
    width: 250px;
    height: 50px;
    background-color: #243B93;
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
    border-radius: 30px;
    text-align: center;
    padding-top: 9px;
    box-sizing: border-box;
}

.btn:hover {
    background-color: #EF075B;
}

.cabinet_right {
    font-weight: 700;
    font-size: 36px;
    font-style: italic;
    color: #353C57;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 40px 0;

}

.line_cabinet {
    width: 90%;
    border-bottom: solid 3px #FFFFFF;
}

.cabinet_right span {
    font-weight: 400;
}

.btn_exit {
    width: 174px;
    height: 50px;
    background-color: #243B93;
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
    border-radius: 30px;
    text-align: center;
    padding-top: 9px;
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 19px;
    margin-bottom: 56px;
}

.btn_exit:hover {
    background-color: #EF075B;
}

.contacts {
    max-width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}

.contacts_text {
    font-weight: 400;
    font-size: 32px;
    color: #000000;
    display: flex;
    width: 50%;
    padding-top: 25px;


}

.line_contacts {
    width: 90%;
    border-bottom: solid 3px #202846;
}

.contacts_text>div div:nth-child(3) {
    font-size: 30px;
}

.contacts_text>div div:nth-child(6) {
    font-size: 30px;
}

.map {
    width: 499px;
    height: 290px;
    border: solid 3px #243B93;
    border-radius: 40px;
    margin-top: 25px;
    margin-bottom: 28px;
}

.footer {
    background-color: #243B93;
    height: 65px;
    font-weight: 700;
    font-size: 16px;
    font-style: normal;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    padding-left: 15%;
    letter-spacing: 0.16em;
}