body {
    margin: 0;

}

header {
    width: 100%;
}

.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Rosario;
    font-style: italic;
    font-weight: 700;
    font-size: 36px;
    background: #000000;
    position: fixed;
    z-index: 5;
}

.logo>img {
    display: block;
    width: 100%;
}

.menu {
    display: flex;
    width: 55%;
    justify-content: space-between;
    color: #FFFCFC;
    padding-right: 1%;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3%;
    width: 100%;
    box-sizing: border-box;
}

.container img {
    width: 100%;
}

.column {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.column>img {
    display: block;
}

.left_first {
    animation: left 1s linear;
}

.right_first {
    animation: right 1s linear;
}

.left_second {
    animation: left 2s linear 0s 1 forwards;
}

.right_second {
    animation: right 2s linear 0s 1 forwards;
}

@keyframes right {
    from {
        transform: translateX(100vw)
    }

    to {
        transform: translateX(0)
    }
}

@keyframes left {
    from {
        transform: translateX(-100vw)
    }

    to {
        transform: translateX(0)
    }

}


.services {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

}

.carousel {
    width: 50%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}

.carousel img {
    width: 50%
}


.card-service {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.title-service {
    font-family: 'Rosario';
    font-style: italic;
    font-weight: 700;
    font-size: 48px;
}

.service-img {
    width: 50%;
}

.service-img>img {
    width: 100%;
}


.card1 {
    animation: card1 15s linear infinite;
    position: relative;
}

.card2 {
    animation: card2 15s linear infinite;
    position: relative;
}

.card3 {
    animation: card3 15s linear infinite;
    position: relative;
}

.card4 {
    animation: card4 15s linear infinite;
    position: relative;
}



@keyframes card1 {
    from {
        top: 0%;
        left: 0%;
    }

    25% {
        top: 0%;
        left: 50%;
    }

    50% {
        left: 50%;
        top: 50%;
    }

    75% {
        left: 0%;
        top: 50%;
    }

    to {
        top: 0%;
        left: 0%;
    }
}

@keyframes card2 {

    from {
        top: 0%;
        left: 0%;
    }

    25% {
        left: 0%;
        top: 50%;
    }

    50% {
        left: -50%;
        top: 50%;
    }

    75% {
        top: 0%;
        left: -50%;
    }

    to {
        top: 0%;
        left: 0%;
    }
}

@keyframes card3 {

    from {
        top: 0%;
        left: 0%;
    }

    25% {
        left: 0%;
        top: -50%;
    }

    50% {
        left: 50%;
        top: -50%;
    }

    75% {
        top: 0%;
        left: 50%;
    }

    to {
        top: 0%;
        left: 0%;
    }
}

@keyframes card4 {

    from {
        top: 0%;
        left: 0%;
    }

    25% {
        left: -50%;
        top: 0%;
    }

    50% {
        left: -50%;
        top: -50%;
    }

    75% {
        top: -50%;
        left: 0%;
    }

    to {
        top: 0%;
        left: 0%;
    }
}

.container-team {
    width: 100%;
    height: 100vh;
}

.h2 {
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Rosario';
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 116px;
    padding: 75px 0;
}

.team {
    display: flex;
    justify-content: space-evenly;
    margin-top: 3%;
    width: 100%;
}

.card-title {
    font-family: 'Volkhov';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    color: #FFFAFA;
    width: 100%;
    height: 20%;
    background: rgba(163, 83, 10, 0.7);
    display: flex;
    justify-content: center;
    padding-top: 35px;
    box-sizing: border-box;
    position: absolute;
    bottom: 0px;
    transition: all .5s;
    transform: translateY(50vh);
}


.team-card {
    width: 20.5%;

    border-style: solid;
    border-color: white;
    border-radius: 39px;
    transition: all 800ms;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
}

.team:hover>div {
    opacity: 0.5;
}

div.team-card:hover {
    opacity: 1;
}

.team-card:hover>.card-title {
    transform: translateY(0);
}

.team-card>img {
    width: 100%;
}

section.contact {
    height: 100vh;
    width: 100%;

}

.container-contacts {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 100%;
    margin-bottom: 3%;
    margin-top: 3%;
    padding: 0 100px;
    box-sizing: border-box;

}

.contacts-left {
    width: 55%;
}

.h3 {
    font-family: 'Rosario';
    font-style: italic;
    font-weight: 700;
    font-size: 64px;
    width: 100%;
    text-align: center;
}

.contact-form {
    width: 100%;
    background: #E5E5E5;
    padding: 20px;
    box-sizing: border-box;
}

.contact-form input,
textarea {
    width: 90%;
    font-family: 'Rosario';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 15px;
}

.row {
    display: flex;
}

textarea {
    width: 95%;
}

.map {
    width: 40%;
}

footer {
    display: flex;
    justify-content: space-evenly;
}

footer>div {
    font-family: 'Rosario';
    font-style: italic;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
}

footer>div:first-child span {
    font-style: normal;
    font-weight: 700;
}

footer>div:nth-child(2)>div:first-child {
    font-family: 'Rosario';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
}
footer>div:nth-child(3)>div:first-child {
    font-family: 'Rosario';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 44px;
}