:root {
    --color-black: #292B2E;
    --p: 30px;
    --orange: #FFB742;
    --white: #FFFFFF;
}

body {
    background: #212529;
}

.header {
    width: 100%;
    height: 66px;
    background-color: #212529;
    display: flex;
    align-items: center;
    justify-content: center;

}

.menu {
    color: var(--white);
    display: flex;
    justify-content: space-between;
    width: 27%;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.menu a {
    color: var(--white);
    text-decoration: none;
}

.menu div:hover {
    color: var(--orange);
}

.header>div:last-child {
    width: 121px;
    height: 54px;
    border: 2px solid #FFB742;
    border-radius: 50px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 700;
    background-color: var(--orange);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #212529;
    position: absolute;
    right: 5%;
}

.header img {
    position: absolute;
    left: 5%;
}

.h2 {
    text-align: center;
    font-family: 'Inter', sans-serif;
    color: #FFFFFF;
    margin-top: 108px;
    margin-bottom: 136.27px;

}

.h2>div:nth-child(1) {
    font-size: 32px;
    font-weight: 700;
    line-height: 51px;
}

.h2>div:nth-child(1) span {
    color: var(--orange);
    text-decoration-line: underline;
}

.h2>div:nth-child(2) {
    font-weight: 700;
    font-size: 48px;
    line-height: 91px;
}

.h2>div:nth-child(3) {
    font-weight: 400;
    font-size: 24px;
    line-height: 51px;
}

.cards {
    display: flex;
    justify-content: space-between;
    width: 91%;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

.card {
    width: 32%;
    background-color: #292B2E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: calc(var(--p) - 5px) var(--p);
    border-radius: 10px;
    text-align: center;
    box-sizing: border-box;
}

.card:hover {
    background: linear-gradient(94.3deg, #FFB742 0%, rgba(255, 123, 66, 0.76) 99.33%);
}

.card:hover .card-content>div:first-child {
    color: #212529;
}

.card:hover .card-content>div:last-child {
    color: #212529;
}


.card-content>div:first-child {
    color: var(--orange);
    font-size: 32px;
    line-height: 40px;
}

.card-content>div:last-child {
    color: var(--white);
    font-size: 16px;
    line-height: 31px;
}

.about {
    display: flex;
    width: 97%;
    margin-top: 221.4px;
    justify-content: space-between;
}

.text {
    font-family: 'Poppins';
    width: 50%;

}

.text>div:nth-child(1) {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: var(--orange);
    text-transform: uppercase;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 50px;
    width: 148px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text>div:nth-child(2) {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    color: #FFFFFF;
    margin-top: 10px;
}

.text>div:nth-child(3) {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #D4D4D4;
    margin-top: 29.49px;
}

.text>div:nth-child(4) {
    width: 147.57px;
    height: 54px;
    border: 2px solid #FFB742;
    border-radius: 50px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 700;
    background-color: var(--orange);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #212529;
    margin-top: 54.45px;
}

.skills {
    margin-top: 17.93px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.skills .text {
    width: 50%;
}

.icons {
    display: flex;
    max-width: 560px;
    flex-wrap: wrap;
    align-content: flex-start;
}

.icons>div {
    background: #383E45;
    width: 80px;
    height: 80px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.icons>div:hover {
    background: #ffb74282;
}

.works {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 136.71px;

}

.works>div:first-child>div:first-child {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: var(--orange);
    text-transform: uppercase;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 50px;
    width: 160px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.works>div:first-child>div:last-child {
    color: #FFFFFF;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    margin: o auto;
}

.works-menu {
    width: 55%;
    display: flex;
    justify-content: space-between;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    color: #FFFFFF;
    margin-top: 30px;
    border-radius: 3px;
}

.works-menu>div{
    border-radius: 3px;
    color: #212529;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 20px;
    box-sizing: border-box;
    color: #FFFFFF;
}

.works-menu>div:hover {
    background: #FFB742;
    border-radius: 3px;
    color: #212529;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 20px;
    box-sizing: border-box;
}

.works-thumbs {
    margin-top: 48px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 143.59px;
}
.works-thumbs>div:nth-child(1) {
    display: flex;
    flex-direction: column;
}
.works-thumbs>div:nth-child(2) {
    display: flex;
    flex-direction: column;
}
.works-thumbs>div:nth-child(3) {
    display: flex;
    flex-direction: column;
}

.works-thumbs img {
    margin: 15px;
}

.testimonials {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.testimonials>div:first-child {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: var(--orange);
    text-transform: uppercase;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 50px;
    width: 160px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 25px;
}

.testimonials>div:nth-child(2) {
    color: #FFFFFF;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 39.29px;
    line-height: 46.04px;
    margin: o auto;
    text-transform: capitalize;
}

.client-cards {
    width: 94%;
    margin-top: 90.29px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.client-cards img{
    width: 32%;
}
.bottom {
    width: 100%;
    background: #1C1C1C;
    height: 470px;
    margin-top: 253.15px;
    display: flex;
    justify-content: space-around;
    padding: 148px 48px;
    box-sizing: border-box;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 17.9888px;
    line-height: 36px;
    color: #7B7B7B;
}

.bottom>div{
    width: 22%;
}

.bottom>div:first-child>div:first-child {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    color: var(--orange);
}

.bottom>div:first-child>div:last-child {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
    color: #D4D4D4;
    margin-top: 30.62px;
}

.bottom>div:nth-child(2)>div:first-child {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 21.5865px;
    line-height: 32px;
    color: #F5FBF2;
    margin-bottom: 13.13px;
}

.bottom>div:nth-child(3)>:first-child {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 21.5865px;
    line-height: 32px;
    color: #F5FBF2;
    margin-bottom: 13.13px;
}

.bottom>div:nth-child(4)>:first-child {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 21.5865px;
    line-height: 32px;
    color: #F5FBF2;
    margin-bottom: 13.13px;
}

.bottom>div:nth-child(2)>p:hover {
    color: var(--orange);
}

.bottom>div:nth-child(2) p {
    margin: 0;
}

.bottom>div:nth-child(3)>p:hover {
    color: var(--orange);
}

.bottom>div:nth-child(3) p {
    margin: 0;
}
